extends layout

block body
	h1 Chat
	div#chat-window.panel.panel-default(ng-controller="ChatController as chat")
		div#chat.panel-body(ng-init="")
			ul.list-group
				li.list-group-item(ng-repeat="message in chat.messages track by $index") {{ message }}
		div.panel-body
			form
				input#message-box.form-control(type="data" placeholder="type your message here.." ng-model="newMessage")
				button#send-btn.btn.btn-default(type="submit" ng-click="chat.sendMessage(newMessage)") Send
		div.panel-footer ycribier &copy; 2014

	script(src="/socket.io/socket.io.js")
	script(type="text/javascript", data-require="angular.js@1.2.16" data-semver="1.2.16" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
	script(type="text/javascript", src="/js/ng.js")
	script(type='text/javascript').



